<%= form_with model: object, local: true do |f| %>
    <%= render 'shared/form-errors', object: object %>
    <div class="field">
        <%= f.text_field :title, class: "text-4xl w-full focus:outline-none" %>
    </div>
    <div class="field text-sm flex items-center text-gray-500">
        <%= f.check_box :pinned, class: "mr-2" %>
        <%= f.label :pinned, "Pin this note", class: "mr-4" %>
        <%= f.check_box :public, class: "mr-2" %>
        <%= f.label :public, "Make this note public" %>
    </div>
    <div class="field">
        <%= f.label :tag_list, 'Tags' %>
        <%= f.text_field :tag_list, value: f.object.tag_list.join(","), class: "js-tag-list input" %>
    </div>
    <%= f.text_area :body, class: "js-simplemde" %>
    <div>
        <%= f.submit %>
        <%= link_to 'Delete Note', note_path(object), method: :delete, data: { confirm: 'Are you sure?' } if params[:action] == 'edit' %>
    </div>
<% end %>