<p>app/views/notes/deleted.html.erb</p>
<% unless @notes.empty? %>
    <%= tag.table do %>
        <%= tag.thead do %>
            <%= tag.th do%>
                Title
            <% end %>
            <%= tag.th do %>
                Preview
            <% end %>
            <%= tag.th do %>
                Tags
            <% end %>
            <%= tag.th do %>
                Public
            <% end %> 
            <%= tag.th do %>
                Pinned
            <% end %>                                    
            <%= tag.th do %>
                Last Update
            <% end %>
            <%= tag.th do %>
                Actions
            <% end %>            
        <% end %>
        <%= tag.body do %>
            <%= render partial: 'note', collection: @notes %>
        <% end %>
    <% end %>
<% else %>
    <p>You have not deleted any of <%= link_to 'your notes', notes_path %></p>
<% end %>