<%= content_for :title do "My Deleted Notes" end %>
<%= content_for :page_links do %>
    <div class="md:flex justify-between flex-wrap items-end">
        <div class="md:flex mt-3 mb-3 md:mb-0 md:mb-0 lg:mb-0 xl:mb-0">
            <%= link_to notes_path, class: "text-white border border-white flex items-center px-2 py-1 text-sm focus:outline-none focus:bg-white focus:text-black hover:bg-white hover:text-black" do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-3 mr-2"><path d="M10 13h8V7h-8V2l-8 8 8 8v-5z"/></svg>
                Back To My Notes
            <% end %>
        </div>
    </div>
<% end %>
<% unless @notes.empty? %>
    <%= render layout: "shared/tables/table" do %>
        <%= render layout: "shared/tables/thead" do %>
            <%= render layout: "shared/tables/th" do "Title" end %>
            <%= render layout: "shared/tables/th" do "Preview" end %>
            <%= render layout: "shared/tables/th" do "Last Updated" end %>
        <% end %>
        <%= render layout: "shared/tables/tbody" do %>
            <%= render partial: 'note', collection: @notes %>
        <% end %>
    <% end %>
<% else %>
    <p>You have not deleted any of <%= link_to 'your notes', notes_path %></p>
<% end %>