<h1>Notes#index</h1>
<p>Find me in app/views/notes/index.html.erb</p>
<%= render partial: 'search_form' %>
<% unless @notes.empty? %>
    <%= tag.table do %>
        <%= tag.thead do %>
            <%= tag.th do%>
                Title
            <% end %>
            <%= tag.th do %>
                Preview
            <% end %>
            <%= tag.th do %>
                Tags
            <% end %>
            <%= tag.th do %>
                Public
            <% end %> 
            <%= tag.th do %>
                Pinned
            <% end %>                                    
            <%= tag.th do %>
                Last Updated
            <% end %>
            <%= tag.th do %>
                Actions
            <% end %>            
        <% end %>
        <%= tag.body do %>
            <%= render @notes %>
        <% end %>
    <% end %>
    <%= paginate @notes %>
<% else %>
    <% unless params[:q] %>
        <p><%= link_to 'Add your first note', new_note_path %></p>
    <% else %>
        <p>Sorry, no notes match your search.</p>
    <% end %>
<% end %>