<%= content_for :title do "My Notes" end %>
<%= render partial: 'search_form' %>
<% unless @notes.empty? %>
    <%= render layout: "shared/tables/table" do %>
        <%= render layout: "shared/tables/thead" do %>
            <%= render layout: "shared/tables/th" do "Title" end %>
            <%= render layout: "shared/tables/th" do "Preview" end %>
            <%= render layout: "shared/tables/th" do "Tags" end %>
            <%= render layout: "shared/tables/th" do "Public" end %>
            <%= render layout: "shared/tables/th" do "Pinned" end %>
            <%= render layout: "shared/tables/th" do "Last Updated" end %>
            <%= render layout: "shared/tables/th" do "" end %>
        <% end %>
        <%= render layout: "shared/tables/tbody" do %>
            <%= render @notes %>
        <% end %>
    <% end %>
<% else %>
    <% unless params[:q] %>
        <p><%= link_to 'Add your first note', new_note_path %></p>
    <% else %>
        <p>Sorry, no notes match your search.</p>
    <% end %>
<% end %>