<p>app/views/notes/versions.html.erb</p>
<%= link_to 'Back To Note', edit_note_path(@note) %>
<% if @note.versions.count > 1 %>
    <%= tag.table do %>
        <%= tag.thead do %>
            <%= tag.th do%>
                Title
            <% end %>
            <%= tag.th do %>
                Preview
            <% end %>
            <%= tag.th do %>
                Tags
            <% end %>
            <%= tag.th do %>
                Public
            <% end %> 
            <%= tag.th do %>
                Pinned
            <% end %>                                    
            <%= tag.th do %>
                Last Update
            <% end %>
            <%= tag.th do %>
                Actions
            <% end %>            
        <% end %>
        <%= tag.body do %>
            <%= render partial: 'note', collection: @notes %>
        <% end %>
    <% end %>
<% else %>
    <p>There are no versions for <%= link_to 'your note', edit_note_path(@note) %></p>
<% end %>