<%= form_with model: object, local: true do |f| %>
    <%= render 'shared/form-errors', object: object %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :tag_list, 'Tags' %>
    <%= f.text_field :tag_list, value: f.object.tag_list.join(","), class: "js-tag-list" %>  
    Task Items:
    <div data-controller="nested-form">
        <template data-target="nested-form.template">
            <%= f.fields_for :task_items, TaskItem.new, child_index: 'NEW_RECORD' do |task_items_form| %>
                <%= render 'task_items_fields', f: task_items_form %>
            <% end %>
        </template>
        <a href="#" data-action="click->nested-form#add_association">Add Task Items</a>   
        <ol data-controller="task-items" data-target="nested-form.fields">
            <%= f.fields_for :task_items do |task_items_form| %>
                <%= render 'task_items_fields', f: task_items_form %>
            <% end %>
        </ol>
    </div>
    <div>
        <%= f.submit %>
        <% if params[:action] == "show" %>
            <%= link_to "Delete Task", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }%>
        <% end %>
    </div>
<% end %>