<%= search_form_for @q do |f| %>
    <div class="field">
        <%= f.label :title_cont %>
        <%= f.search_field :title_cont, class: "input" %>
    </div>
    <div class="field">
        <%= tag.fieldset class: "border-b" do %>
            <%= tag.legend class: "text-base leading-tight mb-2" do %>
                Tags
            <% end %>
            <div class="field text-sm flex flex-wrap items-center text-gray-500">
                <%= f.collection_check_boxes :tags_id_in, current_user.tasks.tag_counts_on(:tags), :id, :name do |t| %>
                    <%= t.check_box class: "mr-2" %>
                    <%= t.label class: "mr-4" %>
                <% end %>
            </div>
        <% end %>
    </div>    
    <div class="borer-b pb-5">
        <%= f.submit class: "btn btn-blue" %>
        <%= link_to 'Reset', tasks_path, class: "text-green-600 ml-6 hover:text-green-800" %>
    </div>
<% end %>