<%= content_for :title do "My Tasks" end %>
<%= render partial: "search_form" %>
<% unless @tasks.empty? %>
    <%= render layout: "shared/tables/table" do %>
        <%= render layout: "shared/tables/thead" do %>
            <%= render layout: "shared/tables/th" do "Title" end %>
            <%= render layout: "shared/tables/th" do "Completed Items" end %>
            <%= render layout: "shared/tables/th" do "Last Updated" end %>
        <% end %>
        <%= render layout: "shared/tables/tbody" do %>
            <%= render @tasks %>
        <% end %>
    <% end %>
    <%= paginate @tasks %>
<% else %>
    <% unless params[:q] %>
        <p><%= link_to 'Add your first task', new_task_path %></p>
    <% else %>
        <p>Sorry, no tasks match your search.</p>
    <% end %>
<% end %>