<%= content_for :title do "My Reminders" end %>
<% unless @reminders.empty? %>
    <%= render layout: "shared/tables/table" do %>
        <%= render layout: "shared/tables/thead" do %>
            <%= render layout: "shared/tables/th" do "Name" end %>
            <%= render layout: "shared/tables/th" do "Body" end %>
            <%= render layout: "shared/tables/th" do "Date" end %>
        <% end %>
        <%= render layout: "shared/tables/tbody" do %>
            <%= render @reminders %>
        <% end %>
    <% end %>
<% else %>
    <p>You have no upcoming reminders. <%= link_to "Add a reminder", new_reminder_path %></p>
<% end %>