<!DOCTYPE html>
<html>
  <%= render "shared/head/head" %>
  <body class="bg-gray-200">
    <div>
      <%= render "shared/header/flash" %>
      <%= render "shared/header/header" %>
      <main class="-mt-32">
        <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
          <div class="bg-white shadow py-4 sm:py-6 lg:py-8 px-4 sm:px-6 lg:px-8">
              <%= yield %>
          </div>
          <%= render "shared/footer/footer" %>
        </div>
      </main>
    </div>
  </body>
</html>