<!DOCTYPE html>
<html>
    <%= render "shared/head/head" %>
    <body class="antialiased font-sans bg-white">
        <%= render "shared/header/flash" %>
        <div class="" style="">
            <div class="relative bg-black overflow-hidden">
                <%= render partial: "shared/hero/shapes" %>
                <div x-data="{ open: false }" class="relative pt-6 pb-16 md:pb-20 lg:pb-24 xl:pb-32">
                    <%= render "shared/hero/navigation.html.erb"%>
                    <%= render "shared/hero/mobile_navigation.html.erb"%>
                    <main class="mt-8 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-20 xl:mt-24">
                        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
                            <%= render "shared/hero/main_content" %>
                            <%= render "shared/hero/video" %>
                        </div>
                    </main>
                </div>
            </div>
            <%= render "shared/footer/footer" %>
        </div>
    </body>
</html>
